# [1] 헷갈리는 맞춤법

In [61]:
# 출처 : 네이버 검색어 트렌드 데이터랩

In [62]:
import pandas as pd
import numpy as np

In [63]:
# 네이버 검색어 트렌드
file='헷갈리는맞춤법.xlsx'
hardWord=pd.read_excel(file,header=6,index_col=0)
hardWord.head()

,되 돼,날짜.1,데 대,날짜.2,던 든,날짜.3,어떡해 어떻게,날짜.4,안 않,날짜.5,낳다 낫다,날짜.6,왠 웬,날짜.7,율 률
날짜,,,,,,,,,,,,,,,
2016-01-01,47.74092,2016-01-01,41.78636,2016-01-01,9.36275,2016-01-01,32.29302,2016-01-01,38.02477,2016-01-01,8.18995,2016-01-01,49.05368,2016-01-01,57.17481
2016-02-01,48.94228,2016-02-01,40.71559,2016-02-01,9.20605,2016-02-01,29.39409,2016-02-01,31.91672,2016-02-01,7.03716,2016-02-01,47.07501,2016-02-01,49.82794
2016-03-01,49.69966,2016-03-01,44.50248,2016-03-01,10.01566,2016-03-01,35.23113,2016-03-01,31.79628,2016-03-01,8.20715,2016-03-01,47.90089,2016-03-01,64.72814
2016-04-01,43.11830,2016-04-01,40.06267,2016-04-01,9.08853,2016-04-01,33.03734,2016-04-01,28.37233,2016-04-01,8.63730,2016-04-01,46.05987,2016-04-01,59.85891
2016-05-01,45.88665,2016-05-01,42.89631,2016-05-01,10.47270,2016-05-01,32.01880,2016-05-01,28.42395,2016-05-01,8.86097,2016-05-01,49.26015,2016-05-01,55.95320

In [64]:
# 날짜 컬럼 제거

hardWord=hardWord.drop(['날짜.1','날짜.2','날짜.3','날짜.4','날짜.5','날짜.6','날짜.7'],axis=1)
hardWord.head()

,되 돼,데 대,던 든,어떡해 어떻게,안 않,낳다 낫다,왠 웬,율 률
날짜,,,,,,,,
2016-01-01,47.74092,41.78636,9.36275,32.29302,38.02477,8.18995,49.05368,57.17481
2016-02-01,48.94228,40.71559,9.20605,29.39409,31.91672,7.03716,47.07501,49.82794
2016-03-01,49.69966,44.50248,10.01566,35.23113,31.79628,8.20715,47.90089,64.72814
2016-04-01,43.11830,40.06267,9.08853,33.03734,28.37233,8.63730,46.05987,59.85891
2016-05-01,45.88665,42.89631,10.47270,32.01880,28.42395,8.86097,49.26015,55.95320

In [65]:
hardWord.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90 entries, 2016-01-01 to 2023-06-01
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   되 돼      90 non-null     float64
 1   데 대      90 non-null     float64
 2   던 든      90 non-null     float64
 3   어떡해 어떻게  90 non-null     float64
 4   안 않      90 non-null     float64
 5   낳다 낫다    90 non-null     float64
 6   왠 웬      90 non-null     float64
 7   율 률      90 non-null     float64
dtypes: float64(8)
memory usage: 6.3+ KB

In [66]:
# nan 값 확인  => 없음
hardWord.isnull().sum()

되 돼        0
데 대        0
던 든        0
어떡해 어떻게    0
안 않        0
낳다 낫다      0
왠 웬        0
율 률        0
dtype: int64

In [67]:
# 년도별 합계 리스트에 담기
sum16=round(hardWord.iloc[:12].sum()).to_list()
sum17=round(hardWord.iloc[12:24].sum()).to_list()
sum18=round(hardWord.iloc[24:36].sum()).to_list()
sum19=round(hardWord.iloc[36:48].sum()).to_list()
sum20=round(hardWord.iloc[48:60].sum()).to_list()
sum21=round(hardWord.iloc[60:72].sum()).to_list()
sum22=round(hardWord.iloc[72:84].sum()).to_list()

In [68]:
# 년도 합계 데이터프레임 생성
hard=pd.DataFrame([sum16,sum17,sum18,sum19,sum20,sum21,sum22],index=['2016','2017','2018','2019','2020','2021','2022']
                  ,columns=['되 돼','데 대','던 든','어떡해 어떻게','안 않','낳다 낫다','왠 웬','율 률'])
hard["-"]=" "
# 합계 열 추가
hard['합계']=hard.sum(axis=1,numeric_only=True)

In [69]:
# 퍼센트 열 추가
total=hard['합계'].sum()
a=[round(n/total*100,2)  for n in hard['합계'].to_list()]
hard['퍼센트']=a

In [70]:
# 증가값 열 추가
hard1=hard.iloc[:,-1:]
hard2=hard1.copy()
hard2=hard2.rename(index={str(int(x)):str(int(x)+1)  for x in hard1.index})

In [71]:
ret=hard1-hard2
ret.replace(np.nan,0,inplace=True)
ret.drop(index=['2023'],inplace=True)

In [72]:
hard['증가값']=ret.values

###

In [73]:
hard

,되 돼,데 대,던 든,어떡해 어떻게,안 않,낳다 낫다,왠 웬,율 률,-,합계,퍼센트,증가값
2016,584.0,509.0,114.0,415.0,372.0,90.0,570.0,694.0,,3348.0,11.37,0.00
2017,602.0,591.0,132.0,441.0,345.0,64.0,604.0,827.0,,3606.0,12.25,0.88
2018,642.0,666.0,151.0,477.0,323.0,62.0,662.0,885.0,,3868.0,13.14,0.89
2019,690.0,809.0,189.0,444.0,304.0,44.0,674.0,925.0,,4079.0,13.86,0.72
2020,702.0,960.0,234.0,494.0,416.0,57.0,789.0,1026.0,,4678.0,15.89,2.03
2021,737.0,950.0,255.0,502.0,485.0,121.0,848.0,1050.0,,4948.0,16.81,0.92
2022,760.0,962.0,267.0,616.0,420.0,127.0,842.0,919.0,,4913.0,16.69,-0.12

#

## [2] 국제 학업 성취도 평가 통계

In [74]:
file='학업_성취도_OECD회원국__20230714022025.xlsx'
pisa=pd.read_excel(file,header=[0,1])
pisa=pisa.set_index([("국가별","국가별")])   # set_index()
pisa.head()

              2012                                            2015          \
           수학점수-남자 수학점수-여자 과학점수-남자 과학점수-여자 읽기점수-남자 읽기점수-여자 수학점수-남자 수학점수-여자
(국가별, 국가별)
아시아            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
　　　대한민국        562     544     539     536     525     548     521     528
　　　이스라엘        472     461     470     470     463     507     474     466
　　　일본          545     527     552     541     527     551     539     525
　　　튀르키예        452     444     458     469     453     499     423     418

                                              2018                          \
           과학점수-남자 과학점수-여자 읽기점수-남자 읽기점수-여자 수학점수-남자 수학점수-여자 과학점수-남자 과학점수-여자
(국가별, 국가별)
아시아            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
　　　대한민국        511     521     498     539   528.0   524.0   521.0   517.0
　　　이스라엘        469     464     467     490   458.0   467.0   452.0   471.0
　　　일본          545     532     509     523   532.0   522.0   531.0   528.0
　　　튀르키예        422     429     414     442   456.0   451.0   465.0   472.0


           읽기점수-남자 읽기점수-여자
(국가별, 국가별)
아시아            NaN     NaN
　　　대한민국        503     526
　　　이스라엘        445     493
　　　일본          493     514
　　　튀르키예        453     478

In [75]:
# 읽기점수 열만 남기기
pisa=pisa[[('2012', '읽기점수-남자'),('2012', '읽기점수-여자'),('2015', '읽기점수-남자'), ('2015', '읽기점수-여자'),('2018', '읽기점수-남자'),
 ('2018', '읽기점수-여자')]]

In [76]:
pisa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43 entries, 아시아 to 　　　뉴질랜드
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (2012, 읽기점수-남자)  38 non-null     object
 1   (2012, 읽기점수-여자)  38 non-null     object
 2   (2015, 읽기점수-남자)  38 non-null     object
 3   (2015, 읽기점수-여자)  38 non-null     object
 4   (2018, 읽기점수-남자)  38 non-null     object
 5   (2018, 읽기점수-여자)  38 non-null     object
dtypes: object(6)
memory usage: 2.4+ KB

In [77]:
# 결측치 체크   --> 있음
pisa.isnull().sum()

2012  읽기점수-남자    5
      읽기점수-여자    5
2015  읽기점수-남자    5
      읽기점수-여자    5
2018  읽기점수-남자    5
      읽기점수-여자    5
dtype: int64

In [78]:
ret=[]
for n in range(pisa.shape[0]):ret.extend(pisa.iloc[n].unique())
a=[]
for m in ret:
    if not isinstance(m,int): a.append(m) 
a

[nan, nan, nan, '-', '-', nan, '-', '-', '-', nan]

In [79]:
# 결측치 처리
pisa.replace('-',np.nan,inplace=True)
pisa=pisa.dropna(how='all')
pisa.head()

              2012            2015            2018
           읽기점수-남자 읽기점수-여자 읽기점수-남자 읽기점수-여자 읽기점수-남자 읽기점수-여자
(국가별, 국가별)
　　　대한민국      525.0   548.0   498.0   539.0   503.0   526.0
　　　이스라엘      463.0   507.0   467.0   490.0   445.0   493.0
　　　일본        527.0   551.0   509.0   523.0   493.0   514.0
　　　튀르키예      453.0   499.0   414.0   442.0   453.0   478.0
　　　캐나다       506.0   541.0   514.0   540.0   506.0   535.0

In [80]:
# 한국만 남기기
pisa=pisa.iloc[0:1]
# 년도별 평균 내서 열 추가
mean12=pisa.iloc[:,:2].mean(axis=1).values
mean15=pisa.iloc[:,2:4].mean(axis=1).values
mean18=pisa.iloc[:,4:].mean(axis=1).values
pisa['2012년']=mean12
pisa['2015년']=mean15
pisa['2018년']=mean18
pisa=pisa.iloc[:,6:]
pisa=pisa.reset_index(drop=True)    #reset_index(drop=True)
pisa

   2012년  2015년  2018년

0  536.5  518.5  514.5

In [81]:
# 증감 열 추가
pisa1=pisa.copy()
pisa1.columns=[0,1,2]
pisa2 = pisa1.copy()
pisa2 = pisa2.rename(columns={x:x+1 for x in pisa1.columns})

In [82]:
dec=pisa1-pisa2
dec.drop(3,axis=1,inplace=True)
dec.replace(np.nan,0,inplace=True)

In [83]:
pisa.loc[' ']=" "
pisa.loc['증감']=list(dec.loc[0])
pisa.rename(index={0:"대한민국"},inplace=True)

### 결론 :  학생들의 읽기능력이 저하되고 있음

In [84]:
pisa

      2012년  2015년  2018년

대한민국  536.5  518.5  514.5

증감      0.0  -18.0   -4.0

#

## [3-1]  스마트폰 1회 이용 시 평균 이용시간

In [85]:
# 국가통계포털 kosis
# 스마트폰 1회 이용 시 평균 이용시간 파일
timefile='스마트폰_1회_이용_시_평균_이용시간_20230713192823.xlsx'
time=pd.read_excel(timefile,index_col=[0,1,2],header=[0,1,2])
time.head()

C:\Users\KDP-13\AppData\Local\anaconda3\envs\MY_PYTHON\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

응답자특성별(3)                         2016                                         \
응답자특성별(3)                           주중
응답자특성별(3)                    3분 미만 (%) 3~5분 미만 (%) 5~10분 미만 (%) 10~20분 미만 (%)
전체           소계      소계           29.6        30.7         12.0          22.3
스마트폰 과의존 수준별 과의존 위험군 소계            9.4        23.9         31.3          27.8
                     고위험군         23.9        23.9         29.6          15.2
                     잠재적 위험군       7.0        23.9         31.6          29.9
             일반 사용자군 소계           34.0        32.2          7.8          21.1

응답자특성별(3)                                                               \
응답자특성별(3)                                                           주말
응답자특성별(3)                    20~30분 미만 (%) 30분 이상 (%) 평균 (분) 3분 미만 (%)
전체           소계      소계                3.8        1.6    5.6      34.4
스마트폰 과의존 수준별 과의존 위험군 소계                4.7        2.9    7.7      14.4
                     고위험군              4.7        2.6    6.6      15.7
                     잠재적 위험군           4.7        2.9    7.9      14.2
             일반 사용자군 소계                3.6        1.3    5.2      38.7

응답자특성별(3)                                              ...         2017  \
응답자특성별(3)                                              ...           주중
응답자특성별(3)                    3~5분 미만 (%) 5~10분 미만 (%)  ... 5~10분 미만 (%)
전체           소계      소계             16.6         18.9  ...         21.3
스마트폰 과의존 수준별 과의존 위험군 소계             13.2         25.8  ...         26.8
                     고위험군           22.1         25.9  ...         16.7
                     잠재적 위험군        11.8         25.8  ...         28.5
             일반 사용자군 소계             17.3         17.4  ...         20.0

응답자특성별(3)                                                               \
응답자특성별(3)                                                           주말
응답자특성별(3)                    10~20분 미만 (%) 20분 이상 (%) 평균 (분) 3분 미만 (%)
전체           소계      소계               31.0        5.3    7.2      20.3
스마트폰 과의존 수준별 과의존 위험군 소계               33.1        8.1    8.2      14.0
                     고위험군             29.9       10.0    7.7      33.0
                     잠재적 위험군          33.6        7.8    8.3      10.8
             일반 사용자군 소계               30.7        4.7    6.9      21.7

응답자특성별(3)                                                            \
응답자특성별(3)
응답자특성별(3)                    3~5분 미만 (%) 5~10분 미만 (%) 10~20분 미만 (%)
전체           소계      소계             19.9         16.6          29.6
스마트폰 과의존 수준별 과의존 위험군 소계             15.5         19.1          34.8
                     고위험군            8.0         16.0          28.4
                     잠재적 위험군        16.8         19.6          35.9
             일반 사용자군 소계             21.0         16.1          28.4

응답자특성별(3)
응답자특성별(3)
응답자특성별(3)                    20분 이상 (%) 평균 (분)
전체           소계      소계            13.6    8.8
스마트폰 과의존 수준별 과의존 위험군 소계            16.6   10.0
                     고위험군          14.6    9.4
                     잠재적 위험군       16.9   10.2
             일반 사용자군 소계            12.9    8.5

[5 rows x 26 columns]

In [86]:
# 연령대별만 남김
time=time.iloc[5:17]
# 과의존위험군만 남김
time=time.iloc[1::3]
max

In [87]:
# 평균 열만 남김
a=[]
for n in range(time.shape[1]):
    if time.columns.to_list()[n][2]=='평균 (분)':
        a.append(n)

In [88]:
time=time.iloc[:,a]

응답자특성별(3)                  2016          2017
응답자특성별(3)                    주중     주말     주중     주말
응답자특성별(3)                평균 (분) 평균 (분) 평균 (분) 평균 (분)
연령대별 유아동(만3~9세)   과의존위험군   15.3   21.4    7.2    9.6
     청소년(만10~19세) 과의존위험군    8.0   13.1    9.0   10.9
     성인(만20~59세)  과의존위험군    6.6    9.9    8.2    9.9
     60대(만60~69세) 과의존위험군    9.5   12.3    7.7    9.0

In [90]:
# 연령대 별 1회 평균 이용시간 열 추가
time['1회 평균 이용시간']=round(time.mean(axis=1),1).to_list()
time

응답자특성별(3)                  2016          2017        1회 평균 이용시간
응답자특성별(3)                    주중     주말     주중     주말
응답자특성별(3)                평균 (분) 평균 (분) 평균 (분) 평균 (분)
연령대별 유아동(만3~9세)   과의존위험군   15.3   21.4    7.2    9.6       13.4
     청소년(만10~19세) 과의존위험군    8.0   13.1    9.0   10.9       10.2
     성인(만20~59세)  과의존위험군    6.6    9.9    8.2    9.9        8.6
     60대(만60~69세) 과의존위험군    9.5   12.3    7.7    9.0        9.6

## [3-2] 스마트폰 1일 평균횟수

In [91]:
# 스마트폰 1일 평균횟수
countfile='스마트폰_1일평균_이용횟수_20230713192909.xlsx'
countdf=pd.read_excel(countfile,index_col=[0,1,2],header=2)
countdf.head()

                                  10회 미만 (%)  10~30회 미만 (%)  30~50회 미만 (%)  \
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계               11.0           63.6           16.2
스마트폰 과의존 수준별 과의존 위험군   소계               11.0           32.8           43.8
                       고위험군             13.5           20.1           28.0
                       잠재적 위험군          10.6           34.9           46.5
             일반 사용자군   소계               11.0           70.5           10.0

                                  50회 이상 (%)  평균 (회)  10회 미만 (%).1  \
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계                9.2    23.2          18.4
스마트폰 과의존 수준별 과의존 위험군   소계               12.4    30.1          16.2
                       고위험군             38.5    43.4          12.9
                       잠재적 위험군           8.0    27.8          16.7
             일반 사용자군   소계                8.5    21.7          18.9

                                  10~30회 미만 (%).1  30~50회 미만 (%).1  \
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계                    27.3             35.4
스마트폰 과의존 수준별 과의존 위험군   소계                    22.5             17.0
                       고위험군                  17.4             13.8
                       잠재적 위험군               23.4             17.5
             일반 사용자군   소계                    28.3             39.4

                                  50회 이상 (%).1  평균 (회).1  10회 미만 (%).2  \
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계                 18.9      34.9          27.3
스마트폰 과의존 수준별 과의존 위험군   소계                 44.3      45.5          22.3
                       고위험군               55.9      62.4           8.4
                       잠재적 위험군            42.4      42.7          24.7
             일반 사용자군   소계                 13.3      32.5          28.4

                                  10~30회 미만 (%).2  30~50회 미만 (%).2  \
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계                    39.9             20.6
스마트폰 과의존 수준별 과의존 위험군   소계                    36.6             25.7
                       고위험군                  28.0             19.6
                       잠재적 위험군               38.1             26.7
             일반 사용자군   소계                    40.7             19.4

                                  50회 이상 (%).2  평균 (회).2  10회 미만 (%).3  \
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계                 12.2      24.7          26.6
스마트폰 과의존 수준별 과의존 위험군   소계                 15.4      29.5          21.6
                       고위험군               44.0      55.4           7.7
                       잠재적 위험군            10.6      25.2          24.0
             일반 사용자군   소계                 11.5      23.6          27.7

                                  10~30회 미만 (%).3  30~50회 미만 (%).3  \
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계                    24.9             32.6
스마트폰 과의존 수준별 과의존 위험군   소계                    25.2             28.2
                       고위험군                  20.7             27.5
                       잠재적 위험군               25.9             28.4
             일반 사용자군   소계                    24.8             33.6

                                  50회 이상 (%).3  평균 (회).3
응답자특성별(1)    응답자특성별(2) 응답자특성별(3)
전체           소계        소계                 15.9      37.4
스마트폰 과의존 수준별 과의존 위험군   소계                 25.0      42.9
                       고위험군               44.1      83.0
                       잠재적 위험군            21.8      36.1
             일반 사용자군   소계                 13.8      36.2

In [92]:
# 연령대별만 남김
countdf=countdf.iloc[5:17]
# 과의존위험군만 남김
countdf=countdf.iloc[1::3]

In [93]:
# 평균 열만 남김
countdf=countdf.iloc[:,4::5]

In [94]:
# 연령대 별 1일 평균 이용 횟수
countdf['1일 평균 이용 횟수']=round(countdf.mean(axis=1),2).to_list()
countdf

                                  평균 (회)  평균 (회).1  평균 (회).2  평균 (회).3  \
응답자특성별(1) 응답자특성별(2)    응답자특성별(3)
연령대별      유아동(만3~9세)   과의존위험군       10.1      11.7      21.7      30.5
          청소년(만10~19세) 과의존위험군       29.8      44.6      22.2      34.1
          성인(만20~59세)  과의존위험군       33.5      51.9      32.7      46.9
          60대(만60~69세) 과의존위험군       15.3      17.6      26.8      40.9

                                  1일 평균 이용 횟수
응답자특성별(1) 응답자특성별(2)    응답자특성별(3)
연령대별      유아동(만3~9세)   과의존위험군           18.50
          청소년(만10~19세) 과의존위험군           32.68
          성인(만20~59세)  과의존위험군           41.25
          60대(만60~69세) 과의존위험군           25.15

#

## [3] 스마트폰 일 평균 이용시간

In [95]:
alltime=time.iloc[:,4].to_frame()
alltime['1일 평균 이용 횟수']=countdf.iloc[:,4].to_list()

In [96]:
timeCount=[round(time.iloc[:,4].values[n]*countdf.iloc[:,4].values[n],1) for n in range(alltime.shape[0]) ]
alltime['일 평균 이용시간']=timeCount

In [98]:
alltime.columns=['1회 평균 이용시간','1일 평균 이용 횟수','일 평균 이용시간(분)']
alltime.index=['유아동(만3~9세)','청소년(만10~19세)','성인(만20~59세)','60대(만60~69세)']
alltime

              1회 평균 이용시간  1일 평균 이용 횟수  일 평균 이용시간(분)
유아동(만3~9세)          13.4        18.50         247.9
청소년(만10~19세)        10.2        32.68         333.3
성인(만20~59세)          8.6        41.25         354.8
60대(만60~69세)         9.6        25.15         241.4

### 결론 -> 청소년과 성인 과의존위험군의 하루 평균 이용시간이 5시간이 넘음 --> 심각